.btn
  display inline-flex
  align-items center
  justify-content center
  vertical-align top
  position relative
  background-color $red
  color #fff
  font-family Stem
  font-size 18px
  font-weight 600
  line-height 24px
  white-space nowrap
  padding 19px 30px
  border none
  outline none
  transition background .5s, color .4s
  user-select none
  z-index 1
