.common-feed
  padding 129px 0
  .container
    display flex
    justify-content center
    align-items center
    height 100%
  .form--feedback
    margin 0
    &:before
      width 800px
      height 800px
