.decor
  position relative
  height 0
  width 100%
  z-index -1
  &__item
    position absolute
    background-repeat no-repeat
    background-size contain
    &--el3
      left 0
      top 1100px
      width 456px
      height  467px
      opacity 0.2
      background-image url('../../../../static/img/decor-el3.png')
    &--el4
      right 0
      top 1810px
      width 164px
      height 150px
      opacity 0.2
      background-image url('../../../../static/img/decor-el4.png')
    &--el5
      right 0
      top 1048px
      width 276px
      height 319px
      opacity 0.16
      background-image url('../../../../static/img/decor-el5.png')
    &--el6
      right 0
      top 3089px
      width 528px
      height 923px
      opacity 0.16
      background-image url('../../../../static/img/decor-el6.png')
    &--el7
      left 12px
      top 3107px
      width 217px
      height 150px
      opacity 0.2
      background-image url('../../../../static/img/decor-el7.png')
    &--el8
      right 0
      top 3379px
      width 139px
      height 161px
      opacity 0.2
      background-image url('../../../../static/img/decor-el8.png')
    &--el9
      right 0
      top 3000px
      width 139px
      height 161px
      opacity 0.2
      background-image url('../../../../static/img/decor-el8.png')
    &--el10
      left -32px
      top 2497px
      width 673px
      height 688px
      opacity 0.2
      background-image url('../../../../static/img/decor-el9.png')
