.lang
  display inline-flex
  position relative
  top -5px
  left -63px
  @media $desktopMax
    left 0
  @media $tPortraitMax
    top 0
  &--footer
    margin-top 10px
    @media $mLandscapeMax
      margin 10px auto 0
  &__item
    margin-right 45px
    @media $desktopMax
      margin-right 20px
    &-href
      color rgba(#fff, .2)
      font-size 15px
      font-weight 300
      text-transform uppercase
      transition color .5s
      &:hover, &--active
        color #fff
