.pagination
  &__list
    display flex
    align-items center
    justify-content center
    width auto
    flex-wrap wrap
  &__item
    margin 0 4px
  &__link
    display block
    position relative
    width 48px
    height 48px
    background-color transparent
    color #262626
    font-size 18px
    font-weight 700
    line-height 48px
    text-align center
    &--active, &:hover
      background-color $blue
      color #fff
    &--active
      &:hover
        cursor default
    &--delimeter
      cursor default
      &:hover
        background none
        color #262626
    &--prev, &--next
      &:hover
        background none
        i
          background-color $blue
          &:after, &:before
            background-color $blue
      i
        display block
        position absolute
        left 6px
        top 23px
        width 36px
        height 2px
        margin 0 auto
        background-color #262626
        transition background .5s
        &:before, &:after
          content ''
          display block
          position absolute
          width 16px
          height 2px
          background-color #262626
          transition background .5s
      &.pagination__link--disabled
          opacity .2
          cursor default
          i
            background-color #262626
            &:after, &:before
              background-color #262626
    &--prev
      margin-right 20px
      i
        &:after, &:before
          left -2px
        &:before
          transform rotate(-45deg)
          top -5px
        &:after
          bottom -5px
          transform rotate(45deg)
    &--next
      margin-left 20px
      i
        &:after, &:before
          right -2px
        &:before
          top -5px
          transform rotate(45deg)
        &:after
          bottom -5px
          transform rotate(-45deg)

