.social
  display inline-flex
  flex-wrap wrap
  align-items center
  &--dark
    .social__item-href
      &--inst
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAQAAABKIxwrAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBAYWARCQ6MR3AAABFklEQVQ4y53ULXICQRCG4WejqEQsVVQhcFRUHDkBXCAWwYkgJlfYE0SiVuQGm0qhYnARYInA0BG7gS1+AqRbTc/bUzPdXw+QGMqtxFFfyQ0lIUBqegKs+1QaSEyFtbGeluaBt/RMrIWphKGw1nfCgnsNfWthSC6MnbZn4dOtiZAnVu48eq8BHQNtC2++UOjhQUPhmxBaWzSV2VSP28iknnx4CVpClHhzC8+EUHhVCGEmLXM1D/FMWBpUq4GlkJ3COzZiC5cJYaNzHB8JxV5dCmG0w29qW23M9/B5Fa+sji/Q3cO7VbzWtn/e/crKXFz3P7r6q9+yq2c1E1Uw6ZWaOaPI7eljIb9A7yHs9H7lNF05q1zxE/wABLj8+dAm+QsAAAAASUVORK5CYII=')
      &--ytb
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAVCAQAAAAd112uAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBAYWASMvOKVhAAABiklEQVQ4y5XUPWhTYRiG4StfTqr15IcWx6LYVrF0KYKzovgDbo4VXFToJDgp4qK7gro4tOji6F5xE3FTcNA2tkuDo0OaH2M5OalL7JCeaPusNzfP+30vvDkw7aYZFbFRRSV5sQh0taWaWjra6lYtWieHea8U9HZgU2rTNgjK8kqKDioqCboWLHHElh8uGfH/HHBBTWKSB7Zd3oPyN+dse8iydv8de0te09vgmKruABp3cqiWWnM0GFPfhd5b8cbUELFuPBjR2AUmbLlqxRNjGVrDSBDrZaBlF626Y91thQHWEwdRRhu8M+eWxFNfVAbaovCPP+t5bQkzJgbRcC247rv7auZ9HYSRVDlDmvbJnE33PNMZYGVppJXR2DUr8dwjPzPnaEWSjLa7Tntsbcj4ZUlOVdsp+8lncVBzXNiHlHfCRvBR0Zl9aOfFPjAlUXNFaQ9KwVkbEpM53PBChIaOXxraEok2yKkIyjvnIkgtWMz1t3TNrMMOGVURK8grglSrf0t+a2moeukbfwC9pnOekD9beAAAAABJRU5ErkJggg==')
  &__item
    margin-right 25px
    &:last-child
      margin-right 0
    &-href
      display block
      width 30px
      height 30px
      background-repeat no-repeat
      background-position center
      transition opacity .5s
      &:hover
        opacity .7
      &--inst
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAQAAABKIxwrAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBAEUDCnkEN7lAAABFUlEQVQ4y52UK3LDMBRFr4oyLbBnPBNglikqc1cQb6DUICtySroFr6DQyKA7UKYTVBJWkFAXmPgUWFU8zsdxr5DeO/o9XUmShCGjoua8aioyjDoRUDKukqCbuQQachIiwpMWkbCmAUqMyICGpS6KR2YsaYBMVEB+BX4FvrhnDVSGWg96NpseECvVXHt9mG8Jq0TSk2ay+hEAkUcDClp3uJaCgBc+eZOIADo89PAWAMs7FoAtgcuFp3gBHEhdL+UAFBdwYlr4g90AaInP4yvADupigdURv+vl5pJ2gzruXNypj+8lLQb4wsX9cv/d+8TK3F73K7fqMxHAqGd8NOk8M+JIj+dAdYPfJeno92mvaeJblab8BL8lDgMToDf61QAAAABJRU5ErkJggg==')
      &--ytb
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAVCAQAAAAd112uAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBAEUDQJRtxbkAAABmElEQVQ4y5XUP0iUARjH8c+9955l9w+lUYrUInGRoLko+gNtjQYtFTgFTUW01F5QLQ1KLY3tRltEW0FDqeni0dig510m7909LSZ03pH+nvHLl98zPDy5gHE3TagqGlRSlleUgpamtg0Nm5rWLJq1Qi6Y9kpBZwduaFsXIFGRV1ZyUElZomXGnDgSW/EjLsVA+O8ciAtRiyxGxYOIuLwH5e+ci4iHYj6ake5Dy8dGvE0cs6Tl3ww7qV/alh1NDFnbhd5b8MZYH3HNcGJAfRcYseWqBU8M9dDqBhJFnR5o3kWL7lhxW6GLdRQTaY82eGfKLZmnvqh2taWJ/ul4bQ4TRrpRfy1x3Xf31Uz72g1TbZUe0rhPpqy755nNLlbRTjV6NLZMyjz3yM+eezRSWY+2u057bLnP+hVZLpY0nbKffFZM1ByX7EPKO2E18VHJmX1o5xV9EGORRS2uRHkP11+Is7EaWYzmghteSFG36Ze6pkymCXKqEpWdd5FomzGb2/4l10w67JBBVUUFeSXQ1tj+Jb811C156Rt/AIDz5C2HWM+dAAAAAElFTkSuQmCC')
