.team
  display flex
  padding 92px 0 0
  background-color #fff
  min-height 765px
  overflow hidden
  .container
    flex-grow 1
  &__title
    color #000
    font-size 40px
    line-height 44px
    font-weight 300
    text-transform uppercase
    margin-top 100px
    margin-bottom 47px
    @media $mLandscapeMax
      font-size 30px
      line-height 36px
  &__top
    display flex
    flex-direction column
    align-items flex-end
  .social
    &__item
      &:last-child
        margin-right 0
  .logo
    margin 15px 0 0
    &__overimg
      max-width 232px
    &__title
      color #000
