@import 'libs/magnific-popup.styl'

@import 'blocks/buttons.styl'
@import 'blocks/common.styl'
@import 'blocks/form.styl'
@import 'blocks/checkbox.styl'
@import 'blocks/uploaded-file.styl'
@import 'blocks/popup.styl'

@import 'partials/header.styl'
@import 'partials/footer.styl'
@import 'partials/main.styl'

@import 'blocks/breads.styl'
@import 'blocks/pagination.styl'

@import 'blocks/logo.styl'
@import 'blocks/ihead.styl'
@import 'blocks/nav.styl'
@import 'blocks/city.styl'
@import 'blocks/ipluses.styl'
@import 'blocks/iabout.styl'
@import 'blocks/instr.styl'
@import 'blocks/iappr.styl'
@import 'blocks/iserv.styl'
@import 'blocks/iaudit.styl'
@import 'blocks/iprj.styl'
@import 'blocks/ifaq.styl'
@import 'blocks/ifeed.styl'
@import 'blocks/social.styl'
@import 'blocks/decor.styl'
@import 'blocks/contacts.styl'
@import 'blocks/section-top.styl'
@import 'blocks/methods.styl'
@import 'blocks/guarant.styl'
@import 'blocks/control.styl'
@import 'blocks/seo-wrap.styl'
@import 'blocks/cases.styl'
@import 'blocks/reviews.styl'
@import 'blocks/project-info.styl'
@import 'blocks/request-promo.styl'
@import 'blocks/search.styl'
@import 'blocks/publ.styl'
@import 'blocks/comments.styl'
@import 'blocks/voting.styl'
@import 'blocks/company.styl'
@import 'blocks/advantages.styl'
@import 'blocks/approach.styl'
@import 'blocks/advice.styl'
@import 'blocks/clients.styl'

