@import 'libs/magnific-popup.styl'

@import 'blocks/animation.styl'
@import 'blocks/buttons.styl'
@import 'blocks/common.styl'
@import 'blocks/form.styl'
@import 'blocks/uploaded-file.styl'
@import 'blocks/popup.styl'

@import 'partials/header.styl'
@import 'partials/footer.styl'
@import 'partials/main.styl'
@import 'blocks/nav.styl'

@import 'blocks/lang.styl'
@import 'blocks/social.styl'
@import 'blocks/logo.styl'
@import 'blocks/ihead.styl'
@import 'blocks/ivideo.styl'
@import 'blocks/iclients.styl'
@import 'blocks/ifeed.styl'
@import 'blocks/common-feed.styl'
@import 'blocks/common-text.styl'
@import 'blocks/portfolio.styl'
@import 'blocks/stage.styl'
@import 'blocks/training.styl'
@import 'blocks/people.styl'
@import 'blocks/advant.styl'
@import 'blocks/directions.styl'
@import 'blocks/team.styl'
@import 'blocks/contacts.styl'
@import 'blocks/decor.styl'
@import 'blocks/brif.styl'
@import 'blocks/requirements.styl'
@import 'blocks/brands.styl'
@import 'blocks/brands-card.styl'
@import 'blocks/services.styl'
