$mPortrait = '(min-width:320px)'
$mPortraitMax = '(max-width:479px)'
$mLandscapeMax = '(max-width:767px)'
$mLandscape = '(min-width:769px)'
$tPortraitMax = '(max-width:991px)'
$tLandscape = '(min-width:992px)'
$desktopMax = '(max-width:1239px)'
$bigDesktopMax = '(max-width:1619px)'
$bigDesktop = '(min-width:1620px)'

$baseFontFamily ='Stem', Arial, sans-serif
$baseFontSize = 15px
$baseLineHeight = 20px
$baseFontWeight = 300

$color = #fff
$red = red
