+b.pagination
    +e('ul').list
        +e('li').item
            +e('a')(href="" aria-label="Назад").link.--prev.--disabled
              i
        +e('li').item
            +e('a')(href="").link.--active 1
        +e('li').item
            +e('a')(href="").link 2
        +e('li').item
            +e('a')(href="").link 3
        +e('li').item
            +e('a')(href="").link 4
        +e('li').item
            +e('a')(href="").link 5
        +e('li').item
            +e('a')(href="").link 6
        +e('li').item
            +e('a')(href="").link.--delimeter ...
        +e('li').item
            +e('a')(href="").link 99
        +e('li').item
            +e('a')(href="" aria-label="Вперед").link.--next
              i
