include includes/bemto/bemto
include includes/__mixins

doctype html
html(lang="ru")
  - var title = "Брэндинг"
  include includes/partials/head

  body
    .wrapper.wrapper--inside
      include includes/partials/header

      main.main
        +b.decor
          +e('span').item.--el7
          +e('span').item.--el8

        +b('section').ihead.--inside
          //+e('span').back.cover(style="background-image: url('static/img/back7.jpg');")
          +e('video').video.video(preload="auto", loop, autoplay, muted, playsinline, style="background-image: url('static/img/back7.jpg');")
            source(src="static/video/video.ogv", type='video/ogg; codecs="theora, vorbis"')
            source(src="static/video/video.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
          .container
            +e.row
              +b.logo.--middle
                +e.overimg
                  +e('img')(src="static/img/logo2.gif" alt="").img
                +e('p').title creative<br>group
              +b('ul').social
                +e('li').item
                  +e('a')(href="#").item-href.--inst
                +e('li').item
                  +e('a')(href="#").item-href.--ytb
          +e('span').arrow.arrow

        +b('section').brands
          - for (var i = 0; i < 6; ++i) {
            +e('a')(href="#brands").item.js-mfp
              +e('span').item-cover(style="background-image: url('static/img/brands"+i+".jpg')")
              +e('span').item-info
                +e('span').item-title Название, бренд
                +e('span').item-year 2018
          - }
          - for (var i = 0; i < 6; ++i) {
            +e('a')(href="#brands").item.js-mfp
              +e('span').item-cover(style="background-image: url('static/img/brands"+i+".jpg')")
              +e('span').item-info
                +e('span').item-title Название, бренд
                +e('span').item-year 2018
          - }

        +b('section').services
          .container
            +e('h2').title МЫ НАПОЛНЯЕМ бренды смыслом <br>проектирУЕМ коммуникацию с аудиторией <br>способствУЕМ  развитию ВАШЕЙ компаниИ
            +e('h2').subtitle Услуги
            +e.direction
              +e('h2').direction-title АУДИТ И ИССЛЕДОВАНИЯ
              +e.items
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr АУДИТ И ИССЛЕДОВАНИЯ
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Исследование рынка и трендов
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Конкурентный анализ
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Потребительские исследования
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Customer journey map (CJM)
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
            +e.direction
              +e('h2').direction-title Стратегия
              +e.items
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Разработка и коррекция позиционирования
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Платформа бренда
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Архитектура портфеля брендов
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
            +e.direction
              +e('h2').direction-title Дизайн и коммуникации
              +e.items
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Нейминг
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Слоган
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Логотип и фирменный стиль
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Дизайн упаковки
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr Брендбук
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
                +e.item
                  +e('button')(type="button").item-title-button.js-toggle-desr ПРЕЗЕНТАЦИИ
                  +e.item-descr
                    .text
                      p Для выбора успешной стратегии развития компании необходимо изучить рынок: оценить его объем, стадию жизненного цикла, характер конкуренции, потенциал и другие параметры.
                      p Выявление и анализ трендов позволяют проектировать продукты, которые будут отвечать актуальным потребностям целевой аудитории к моменту их внедрения, а также минимизировать возможные риски и вероятность ошибок.
          
        +b('section').common-feed
          .container
            +b('form').form.--feedback
              +e('h3').title оставьте заявку
              +e('p').text на расчет стоимости вашего проекта
              +e.row
                +e.field
                  +e('input')(type="text" id="inp_01" data-req="req").field-input
                  +e('label')(for="inp_01").field-label.--blue-marker Напишите ваше имя
              +e.row
                +e.field
                  +e('input')(type="tel" id="inp_02" data-req="req").field-input.js-phone
                  +e('label')(for="inp_02").field-label Напишите ваш номер телефона
              +e.row
                +e.field
                  +e('button')(type="submit").field-submit Заказать обратный звонок
                  +e('span').indicate-send
              +e('p').agreement Отправляя заявку, вы даёте 
                a(href="") согласие на обработку персональных данных

      include includes/partials/footer
