include includes/bemto/bemto
include includes/__mixins

doctype html
html(lang="ru")
  - var title = "Контакты"
  include includes/partials/head

  body
    .wrapper.wrapper--inside.--contacts
      include includes/partials/header-rel

      main.main
        +b.decor
          +e('span').item.--el3
          +e('span').item.--el4
          
        +b('section').contacts
          +e('span').cover(style="background-image: url('static/img/map.jpg')")
          .container
            +e.map-info
              +e.map-info-item.--metro
                p М. МАРЬИНО, М. ТЕКСТИЛЬЩИКИ, М. ЛЮБЛИНО.
              +e.map-info-item.--address
                address 109382  г. Москва, Егорьевский проезд, д. 2А, стр.2, 2 этаж, оф. 202, 205
              +e.map-info-item.--shedule
                p Пн-Пт: с 10-00 до 18-00<br>Сб: с 11-00 до 15-00<br>Вс: выходной
              +e.map-info-item.--phone
                a(href="tel:+74957440238") +7 (495) 744-02-38
          +e.arrow.arrow

        +b('section').common-feed.js-scroll-anim
          .container
            +b('form').form.--feedback
              +e('h3').title связаться с нами
              +e.row
                +e.field
                  +e('input')(type="text" id="inp_01" data-req="req").field-input
                  +e('label')(for="inp_01").field-label.--blue-marker Напишите ваше имя
              +e.row
                +e.field
                  +e('input')(type="text" id="inp_03" data-req="req").field-input
                  +e('label')(for="inp_03").field-label Название вашей организации
              +e.row
                +e.field
                  +e('input')(type="text" id="inp_04" data-req="req").field-input
                  +e('label')(for="inp_04").field-label Что вас интересует?
              +e.row
                +e.field
                  +e('input')(type="tel" id="inp_02" data-req="req").field-input.js-phone
                  +e('label')(for="inp_02").field-label Ваш номер телефона для связи
              +e.row
                +e.field
                  +e('input')(type="email" id="inp_05" data-req="req" data-type="email").field-input
                  +e('label')(for="inp_05").field-label Ваш e-mail
              +e.row.--vert
                +b.uploaded-file.--vert
                  +e('label').label Прикрепить файл
                    +e('input')(type="file").input.js-file
                  +e.items
                    +e.item
                      +e('p').item-name 1.pdf 
                      +e('button').item-del-btn.js-del-file
                    +e.item
                      +e('p').item-name Что вас интересует?.pdf
                      +e('button').item-del-btn.js-del-file
                    +e.item
                      +e('p').item-name 3.pdf
                      +e('button').item-del-btn.js-del-file
              +e.row
                +e.field
                  +e('button')(type="submit").field-submit.--air Отправить
                  +e('span').indicate-send
              +e('p').agreement Отправляя заявку, вы даёте 
                a(href="") согласие на обработку персональных данных

        +b('section').contacts.--info
          .container
            +e.row
              +e.col
                +e.item
                  +e('p').item-title ВЕДЕНИЕ ПРОЕКТОВ
                  +e.item-data
                    p сергей шаталов
                    a(href="tel:") +7 (921) 943-26-99
                    a(href="mailto:") hello@mopmedia
                +e.item
                  +e('p').item-title МАРКЕТИНГ
                  +e.item-data
                    p Лиза Меньшикова
                    a(href="tel:") +7 (812) 905-31-21
                    a(href="mailto:") marketing@mopmedia
                +e.item
                  +e('p').item-title ПРОДЮСЕР
                  +e.item-data
                    p Екатерина Цыганенко
                    a(href="tel:") +7 (981) 830-84-69
                    a(href="mailto:") producer@mopmedia
              +e.col
                +e.item
                  +e('p').item-title ИНФОРМАЦИЯ
                  +e.item-data
                    ul
                      li
                        a(href="#") О компании
                      li
                        a(href="#") Договор присоединения
                      li
                        a(href="#") Соглашение о размещении информации
                      li
                        a(href="#") Безопасность платежей
                      li
                        a(href="#") Помощь
              +e.col
                +e.item
                  +e('p').item-title Расположение
                  +e.item-data
                    address 109382  г. Москва, Егорьевский проезд, д. 2А, стр.2, 2 этаж, оф. 202, 205
                    p Пн-Пт: с 10-00 до 18-00<br>Сб: с 11-00 до 15-00<br>Вс: выходнй
              +e.col.--r-align
                +e.item
                  +e('p').item-title ТЕХ. ПОДДЕРЖКА
                  +e.item-data
                    a(href="mailto:") support@mopmedia
                    
      include includes/partials/footer
