include includes/bemto/bemto
include includes/__mixins

doctype html
html(lang="ru")
  - var title = "Портфолио"
  include includes/partials/head

  body
    .wrapper.wrapper--inside
      include includes/partials/header

      main.main
        +b.decor
          +e('span').item.--el9

        +b('section').ihead.--inside
          +e('video').video.video(preload="auto", loop, autoplay, muted, playsinline, style="background-image: url('static/video/video-poster.jpg');")
            source(src="static/video/video.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
          .container
            +e.row
              +b.logo.--middle
                +e.overimg
                  +e('img')(src="static/img/logo-left.png" alt="").img
                  +e('span')(style="background-image: url('static/img/logo-right.png')").img.--animation
                +e('p').title creative<br>group
              +b('ul').social
                +e('li').item
                  +e('a')(href="#").item-href.--inst
                +e('li').item
                  +e('a')(href="#").item-href.--ytb
          +e('span').arrow.arrow

        +b('section').portfolio
          - for (var i = 0; i < 6; ++i) {
            +e('a')(href="#").item.js-scroll-anim
              +e('span').item-cover(style="background-image: url('static/img/portf"+i+".jpg')")
              +e('span').item-info
                +e('span').item-title Название, бренд
                +e('span').item-year 2018
          - }

        +ivideo('static/video/video-poster5.jpg')
        
        +b('section').portfolio
          - for (var i = 0; i < 6; ++i) {
            +e('a')(href="#").item.js-scroll-anim
              +e('span').item-cover(style="background-image: url('static/img/portf2"+i+".jpg')")
              +e('span').item-info
                +e('span').item-title Название, бренд
                +e('span').item-year 2018
          - }

        +b('section').stage
          .container
            +e('h2').title
              span.blue Три
              |  этапа от идеи до результата
            +e.row
              +e.item
                +e.item-left
                  +e.item-overico
                    +e('img')(src="static/img/stage.png" alt="").item-ico
                  +e('p').item-title подготовка
                +e.item-right
                  +e('ul').descr
                    +e('li').descr-item 
                      span вы состовляете заявку или звоните нам
                    +e('li').descr-item 
                      span мы готовим три варианта сметы
                    +e('li').descr-item 
                      span встречаемся для обсуждения деталей
                    +e('li').descr-item 
                      span подписываем договор, после чего переходим к работе
              +e.item
                +e.item-left
                  +e.item-overico
                    +e('img')(src="static/img/stage2.png" alt="").item-ico
                  +e('p').item-title подготовка
                +e.item-right
                  +e('ul').descr
                    +e('li').descr-item 
                      span подготовительный период
                      +e('p').descr-text Сценарная разработка, режиссерский сценарий, утверждение сметы, подбор локаций, актеров или действующих  лиц
                    +e('li').descr-item 
                      span съёмочный период
                      +e('p').descr-text комплектация  съемочного, осветительного, звукового, вспомогательного оборудования, грим, костюмы, декорации и непосредственно видео или киносемка.
                    +e('li').descr-item 
                      span пост-продакшн
                      +e('p').descr-text монтаж  съемочного  материала, цветокоррекция, графическое  и  звуковое  оформление, написание музыки, компьютерная  графика, актерская озвучка, сведение дорожек
              +e.item
                +e.item-left
                  +e.item-overico
                    +e('img')(src="static/img/stage3.png" alt="").item-ico
                  +e('p').item-title релиз
                +e.item-right
                  +e('p').item-text Презентация  готового  ролика заказчику, продвижение ролика в  сети  или  подготовка  к  показу на  экраны  при  необходимости
        
        +b('section').common-feed.js-scroll-anim
          .container
            +b('form').form.--feedback
              +e('h3').title оставьте заявку
              +e('p').text на расчет стоимости вашего проекта
              +e.row
                +e.field
                  +e('input')(type="text" id="inp_01" data-req="req").field-input
                  +e('label')(for="inp_01").field-label.--blue-marker Напишите ваше имя
              +e.row
                +e.field
                  +e('input')(type="tel" id="inp_02" data-req="req").field-input.js-phone
                  +e('label')(for="inp_02").field-label Напишите ваш номер телефона
              +e.row
                +e.field
                  +e('button')(type="submit").field-submit Заказать обратный звонок
                  +e('span').indicate-send
              +e('p').agreement Отправляя заявку, вы даёте 
                a(href="") согласие на обработку персональных данных

      include includes/partials/footer
