include includes/bemto/bemto
include includes/__mixins

doctype html
html(lang="ru")
  - var title = "Главная"
  include includes/partials/head

  body
    .wrapper.wrapper--inside
      include includes/partials/header

      main.main
        +b.decor
          +e('span').item.--el10

        +b('section').ihead.--middle
          +e('span').back.cover(style="background-image: url('static/img/back5.jpg');")
          +e('video').video.video(preload="auto", loop, autoplay, muted, playsinline, style="background-image: url('static/img/back5.jpg');")
            source(src="static/video/video.ogv", type='video/ogg; codecs="theora, vorbis"')
            source(src="static/video/video.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
          .container
            +e.row
              +e('a')(href="#").btn.callback-btn обратная связь
              +b.logo
                +e.overimg
                  +e('img')(src="static/img/logo2.gif" alt="").img
          +e('span').arrow.arrow

        +b('section').team.js-scroll-anim
          .container
            +e.top
              +b('ul').social.--dark
                +e('li').item
                  +e('a')(href="#").item-href.--inst
                +e('li').item
                  +e('a')(href="#").item-href.--ytb
              +b.logo.--min-static
                  +e.overimg
                    +e('img')(src="static/img/logo-dark.png" alt="").img
                  +e('p').title creative<br>group
            +e('h2').title
              span.blue Наша 
              | команда
          +b.people.--mirror.js-people
            +e.decor
              +e('span').decor-item.--el1
            +e.items
              .swiper-container.js-people-swiper
                .swiper-wrapper
                  .swiper-slide
                    +e.item.--i1.--active(data-name="денис фамилия" data-pos="сниматель" data-descr="Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате.")
                      +e('img')(src="static/img/man2.png" alt="").item-img 
                  .swiper-slide
                    +e.item.--i2(data-name="денис фамилия2" data-pos="сниматель2" data-descr="Продюсер — это человек, организующий весь съемочный процесс:  ")
                      +e('img')(src="static/img/man3.png" alt="").item-img
                  .swiper-slide
                    +e.item.--i3(data-name="денис фамилия3" data-pos="сниматель3" data-descr="Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),")
                      +e('img')(src="static/img/man4.png" alt="").item-img
            +e.info
              +e('p').info-name денис фамилия
              +e('p').info-pos сниматель
              +e('p').info-descr Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате.

        +b('section').common-text.js-scroll-anim
          .container
            .wis-content
              h2 
                span.blue тут
                | нужен какой-то текст о том, кто мы вообще и чем занимаемся
              h3 возможно, с какими-то подзаголовками
              p Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате.<br>Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате. 	Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате. 
              h3 возможно, с какими-то подзаголовками
              p Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате.<br>Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате. 	Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате. 
              h3 возможно, с какими-то подзаголовками
              p Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате.<br>Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате. 	Продюсер — это человек, организующий весь съемочный процесс:  от разработки идеи фильма до поиска денег на съемки, техники, подбора режиссера, сценариста, актеров, прочих сотрудников (оператора, звукорежиссера, консультантов, технического персонала и пр.),  а также рекламой и продвижением произведения в прокате. 

        +b('section').common-feed.js-scroll-anim
          .container
            +b('form').form.--feedback
              +e('h3').title оставьте заявку
              +e('p').text на расчет стоимости вашего проекта
              +e.row
                +e.field
                  +e('input')(type="text" id="inp_01" data-req="req").field-input
                  +e('label')(for="inp_01").field-label.--blue-marker Напишите ваше имя
              +e.row
                +e.field
                  +e('input')(type="tel" id="inp_02" data-req="req").field-input.js-phone
                  +e('label')(for="inp_02").field-label Напишите ваш номер телефона
              +e.row
                +e.field
                  +e('button')(type="submit").field-submit Заказать обратный звонок
                  +e('span').indicate-send
              +e('p').agreement Отправляя заявку, вы даёте 
                a(href="") согласие на обработку персональных данных

      include includes/partials/footer
