include includes/bemto/bemto
include includes/__mixins

doctype html
html(lang="ru")
  - var title = "Обучение"
  include includes/partials/head

  body
    .wrapper.wrapper--inside
      include includes/partials/header

      main.main
        +b('section').ihead.--inside
          +e('span').back.cover(style="background-image: url('static/img/back4.jpg');")
          +e('video').video.video(preload="auto", loop, autoplay, muted, playsinline, style="background-image: url('static/img/back4.jpg');")
            source(src="static/video/video.ogv", type='video/ogg; codecs="theora, vorbis"')
            source(src="static/video/video.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
          .container
            +e.row
              +b('ul').social
                +e('li').item
                  +e('a')(href="#").item-href.--inst
                +e('li').item
                  +e('a')(href="#").item-href.--ytb
          +e('span').arrow.arrow

        +b('section').training.js-scroll-anim
          .container
            +e.row
              +e.left
                +b.people
                  +e.decor
                    +e('span').decor-item.--el1
                    +e('span').decor-item.--el2
                  +e.items
                    +e.item
                      +e('img')(src="static/img/man.png" alt="").item-img 
              +e.right
                +b.logo.--min-static
                  +e.overimg
                    +e('img')(src="static/img/logo-white2.png" alt="").img
                  +e('p').title ON-LINE<br>Обучение
                +e('h3').title Обучение, которое перевернет ваш мир

                +e.scool
                  +e('p').scool-info Онлайн-школа ФилмМейкинга
                    span Дениса Шкедова
                  +e('p').scool-text автор курса

                +e.text
                  p Первая школа, которая заинтересована в талантливых ФилмМейкерах. Учим находить себя, творить в выбранной нише, зарабатывать суммы с 6 цифрами, вкладывать и продюсировать в себя.

                  p Школа представляет полную практическую информацию. Знания применимы здесь и сейчас. А также - алгоритмы продаж, шаблоны, переговоры - все рабочие инструменты от Практика.

                +e('a')(href="#").entry-href Записаться на курс
        
        +b('section').advant.js-scroll-anim
          .container
            +e.wrap
              +e('h2').title Что делает школу 
                span.blue уникальной?
              +e.row
                +e.item
                  +e.item-overico
                    +e('img')(src="static/img/adv-ico.png" alt="").item-ico
                  +e('h3').item-title самый быстрый старт
                  +e('p').item-descr Интенсивный характер занятий, обучение на практике и на реальных проектах позволит максимально быстро стартануть в ФилмМейкинге. 
                +e.item
                  +e.item-overico
                    +e('img')(src="static/img/adv-ico2.png" alt="").item-ico
                  +e('h3').item-title Полное погружение
                  +e('p').item-descr Система обучающих материалов разработана Практиком, который до сих пор работает с лучшими проектами в своей нише. Автор представляет весь процесс видео продакшн от А до Я.
                +e.item
                  +e.item-overico
                    +e('img')(src="static/img/adv-ico3.png" alt="").item-ico
                  +e('h3').item-title реальные проекты
                  +e('p').item-descr Основной принцип обучения - работа с реальными проектами. Это позволяет постигать профессии на практике и зарабатывать уже в процессе обучения. В целом, онлайн-школа обеспечивает результат и развитие всех своих учеников.
            +e.wrap
              +e('h2').title 
                span.blue для кого 
                | этот курс
              +e.row
                +e.item
                  +e.item-overico
                    +e('img')(src="static/img/adv-ico4.png" alt="").item-ico
                  +e('h3').item-title фрилансер / новичок
                  +e('p').item-descr Ничего не знаете про видео и эту сферу и хотите овладеть новой профессией и зарабатывать от 130000 в месяц. 
                +e.item
                  +e.item-overico
                    +e('img')(src="static/img/adv-ico5.png" alt="").item-ico
                  +e('h3').item-title видеограф
                  +e('p').item-descr Уже умеете снимать, но понимаете, что есть куда расти и хотите повысить свой уровень Съемки и монтажа.
                +e.item
                  +e.item-overico
                    +e('img')(src="static/img/adv-ico6.png" alt="").item-ico
                  +e('h3').item-title блогер
                  +e('p').item-descr Развиваетесь в социальных сетях и хотите отличаться хорошим контентом.
            +e.wrap
              +e('h2').title ПОЧЕМУ именно 
                span.blue наша ШКОЛА
              +e.row
                +e.item.js-scroll-anim
                  +e.item-overico
                    +e('img')(src="static/img/adv-ico7.png" alt="").item-ico
                  +e('p').item-descr Наиболее полное обучение из существующих на рынке: от пред продакшен до продюсирования себя как ФилмМейкера
                +e.item.js-scroll-anim
                  +e.item-overico
                    +e('img')(src="static/img/adv-ico8.png" alt="").item-ico
                  +e('p').item-descr Выпускник школы не только создает видео, но и продает видео, продвигает себя и занимается творчеством
                +e.item.js-scroll-anim
                  +e.item-overico
                    +e('img')(src="static/img/adv-ico9.png" alt="").item-ico
                  +e('p').item-descr Выход на стабильный заработок с 6-значными цифрами через 6 месяцев;
        
        +ivideo('static/img/video-cover.jpg')

        +b('section').directions.js-scroll-anim
          .container
            +e('h2').title
              span.blue выбери
              | курс, который подойдет именно тебе
            +e.row
              +e.item
                +e('h3').item-title съемка
                +e('ul').item-descr
                  +e('li').item-descr-title ОСНОВЫ КОМПОЗИЦИИ 
                  +e('li').item-descr-title КАК НАСТРАИВАТЬ КАМЕРУ 
                  +e('li').item-descr-title КАК ПОДБИРАТЬ РАКУРС И ВИДЕТЬ ЕГО 
                  +e('li').item-descr-title ОСНОВЫ И ВИДЫ СВЕТА 
                  +e('li').item-descr-title ОСНОВЫ КАДРИРОВАНИЯ 
                  +e('li').item-descr-title КАК ПОДБИРАТЬ ОПТИКУ И КАМЕРУ 
                  +e('li').item-descr-title КАК СНИМАТЬ МОНТАЖНО
                +e('a')(href="#").entry-href записаться на курс
                  span и узнать подробнее
              +e.item
                +e('h3').item-title монтаж
                +e('ul').item-descr
                  +e('li').item-descr-title ИЗУЧЕНИЕ ПРОГРАММ ДЛЯ ОБРАБОТКИ ВИДЕО 
                  +e('li').item-descr-title РАБОТА С МАТЕРИАЛОМ 
                  +e('li').item-descr-title НАУЧИМСЯ ДЕЛАТЬ САУНД ДИЗАЙН 
                  +e('li').item-descr-title НАУЧИМСЯ ЛИНЕЙНОМУ МОНТАЖУ 
                  +e('li').item-descr-title НАУЧИМСЯ ПОДБИРАТЬ И ЛИЦЕНЗИРОВАТЬ МУЗЫКУ 
                  +e('li').item-descr-title ЦВЕТОКОРРЕКЦИЯ РАЗНЫХ УРОВНЕЙ
                +e('a')(href="#").entry-href записаться на курс
                  span и узнать подробнее
              +e.item
                +e('h3').item-title съемка
                +e('ul').item-descr
                  +e('li').item-descr-title ОСНОВЫ КОМПОЗИЦИИ 
                  +e('li').item-descr-title КАК НАСТРАИВАТЬ КАМЕРУ 
                  +e('li').item-descr-title КАК ПОДБИРАТЬ РАКУРС И ВИДЕТЬ ЕГО 
                  +e('li').item-descr-title ОСНОВЫ И ВИДЫ СВЕТА 
                  +e('li').item-descr-title ОСНОВЫ КАДРИРОВАНИЯ 
                  +e('li').item-descr-title КАК ПОДБИРАТЬ ОПТИКУ И КАМЕРУ 
                  +e('li').item-descr-title КАК СНИМАТЬ МОНТАЖНО
                +e('a')(href="#").entry-href записаться на курс
                  span и узнать подробнее

      include includes/partials/footer
