.advant
  padding 149px 0 253px
  &.start-animate
    .advant
      &__title
        opacity 1
      &__item
        opacity 1
        top 0
  @media $tPortraitMax
    padding 100px 0 120px
  &__wrap
    margin-bottom 125px
    &:last-child
      margin-bottom 0
    @media $tPortraitMax
      margin-bottom 75px
  &__title
    margin-bottom 25px
    color #fff
    font-size 30px
    line-height 32px
    font-weight 300
    text-transform uppercase
    opacity 0
    transition opacity .5s
    @media $mLandscapeMax
      font-size 24px
      line-height 28px
  &__row
    display flex
    flex-wrap wrap
    width calc(100% + 204px)
    margin 0 -102px
    @media $desktopMax
      width calc(100% + 100px)
      margin 0 -50px
    @media $tPortraitMax
      width 100%
      margin 0
  &__item
    position relative
    width calc(100%/3 - 204px)
    margin 0 102px
    top 100px
    opacity 0
    transition opacity .5s, top .5s
    for index in (0..12)
      &:nth-child({index})
          transition-delay (.25 + index*0.2)s
    @media $desktopMax
      width calc(100%/3 - 100px)
      margin 0 50px
    @media $tPortraitMax
      width 100%
      margin 0 0 50px
      &:last-child
        margin-bottom 0
    &-overico
      display flex
      align-items flex-end
      height 90px
      margin-bottom 25px
      @media $tPortraitMax
        height auto
    &-ico
      max-height 100%
    &-title
      color #fff
      font-size 30px
      line-height 32px
      font-weight 300
      text-transform uppercase
      margin-bottom 30px
      @media $mLandscapeMax
        font-size 20px
        line-height 24px
    &-descr
      color #fff
      font-size 20px
      line-height 24px
      font-weight 300
      max-width 345px
      @media $tPortraitMax
        max-width 100%
      @media $mLandscapeMax
        font-size 16px
        line-height 20px

