.advice
  display flex
  flex-direction column
  justify-content center
  position relative
  width 100%
  height 90.716vh
  padding 160px 0
  min-height 650px
  z-index 1
  &__cover
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background-repeat no-repeat
    background-size cover
    background-position center
    z-index -1
    &:before
      @extend .before
      left 0
      top 0
      width 100%
      height 100%
      background-color rgba(#262626, .85)
  &__content
    max-width calc(50% + 40px)
  &__title
    font-size 44px
    line-height 57px
    font-weight 700
    color #fff
    span
      display block
      font-weight 300
