.brands-card
  &__title, &__descr
    font-family Stem
    font-weight 300
    text-transform uppercase
    font-size 24px
    font-size 18px
  &__title
    color #239df3
    margin-bottom 35px
  &__descr
    color #fefefe
  &__concept
    margin-top 80px
    &-item
      margin-bottom 70px
      &:last-child
        margin-bottom 0
      //&-img
      &-title
        color #fefefe
        font-size 18px
        line-height 24px
        font-weight 300
        text-transform uppercase
        margin-bottom 25px
  &__bottom
    margin-top 80px
  &__text
    color #fff
    font-size 20px
    line-height 24px
    font-weight 300
  &__others
    margin-top 80px
    padding-top 50px
    border-top 1px solid rgba(#fff, .43)
    &:first-child
      margin-top 0
