.brif
  padding 159px 0 64px
  @media $mLandscapeMax
    padding 100px 0 64px
  &__title
    font-size 25px
    line-height 45px
    font-weight 300
    text-transform uppercase
    color #feffff
    margin-bottom 131px
    @media $mLandscapeMax
      font-size 22px
      line-height 28px
      margin-bottom 85px

