.city
  &__href
    display inline-block
    vertical-align top
    color rgba(#fff, .85)
    font-size 15px
    line-height 15px
    border-bottom 1px dotted #999c9d
    transition border .5s
    user-select none
    &:hover
      border-bottom-color transparent
