.clients
  padding 160px 0
  &:last-child
    padding-bottom 0
  &__title
    margin-bottom 40px
  &__carousel
    position relative
  .swiper
    &-buttons
      position absolute
      width 144px
      top -87px
      right -13px
      &-button
        &-prev
          left 0
        &-next
          right 0
  &__item
    &-overimg
      display flex
      justify-content center
      align-items center
      height 185px
      filter grayscale(100%)
      transition filter .5s
      opacity .3
      &:hover
        filter grayscale(0)
    &-img
      max-width 90%
      max-height 90%
