.contacts
  &__row
    display flex
    flex-wrap wrap
    margin 0 -16px
    width calc(100% + 32px)
  &__item
    width calc(25% - 32px)
    margin 0 16px
    &--x2
      width calc(50% - 32px)
    &-title
      color #262626
      font-size 15px
      line-height 24px
      margin-bottom 15px
    &-data
      display flex
      flex-direction column
      color #262626
      font-size 23px
      font-weight 700
      line-height 36px
      address,
        display inline-block
        vertical-align top
      address,
      a[href^="tel:"],
      a[href^="mailto:"]
        color #262626
        align-self flex-start
        margin-bottom 10px
        &:last-child
          margin-bottom 0
      a[href^="mailto:"]
        color $blue
  &__map
    margin 100px 0 140px
    height 650px
  &__req
    display flex
    flex-wrap wrap
    margin 0 -16px
    width calc(100% + 32px)
    &-title
      color #262626
      font-size 29px
      font-weight 700
      line-height 34px
    &-left
      width calc(25% - 32px)
      margin 0 16px
    &-right
      width calc(75% - 32px)
      margin 0 16px
      padding-top 10px
    &-row
      display flex
      flex-wrap wrap
    &-item
      width calc(100%/3 - 32px)
      margin 0 16px 32px
      &-title, &-text
        color #262626
        font-size 15px
        line-height 24px
      &-title
        font-weight 700
        margin-bottom 10px
      &-text
        font-weight 400
