.guarant
  padding 80px 0
  &:last-child
    padding-bottom 0
  &__title
    margin-bottom 50px
  &__wrap
    display flex
    flex-wrap wrap
    width calc(100% + 32px)
    margin 0 -16px -60px
  &__item
    display flex
    align-items flex-start
    width calc(50% - 32px)
    margin 0 16px 60px
    &-number
      width 125px
      flex-shrink 0
      margin-right 25px
      overflow hidden
      &-item
        position relative
        left -37px
        color #dfdfdf
        font-size 114px
        font-weight 600
        line-height 82px
    &-info
      margin-top -5px
      padding-right 32px
    &-title
      color $black
      font-size 22px
      font-weight 700
      line-height 28px
      margin-bottom 10px
    &-text
      color rgba(#5e5e5e, .8)
      font-size 15px
      line-height 24px
