.iabout
  padding 60px 0 20px
  position relative
  z-index 1
  &__decor
    position absolute
    z-index -1
    top 100px
    right -180px
  //.container
  &__info
    max-width 510px
    margin-bottom 80px
  &__marker
    margin-bottom 45px
  &__title
    margin-bottom 30px
  &__text
    margin-bottom 45px
    a:not([class]), p:not([class]), ul:not([class]) li, ol:not([class]) li, ol:not([class]) li:before, table:not([class]) th, table:not([class]) td
      color #656565
      font-size 18px
      line-height 32px
  &__more-href
    display inline-block
    vertical-align top
    color $dark
    font-size 19px
    font-weight 600
    line-height 23px
    border-bottom 2px solid $blue
    transition border .5s, color .5s
    &:hover
      color $blue
      border-bottom-color transparent
  &__row
    display flex
    flex-wrap wrap
    width calc(100% + 30px)
    margin 0 -15px
  &__item
    width calc(50% - 30px)
    margin 0 15px 65px
    position relative
    z-index 1
    &-overico
      position absolute
      top 50px
      right 0
      max-width 45%
    &-number
      position relative
      overflow hidden
      margin-bottom 60px
      &-item
        display inline-flex
        align-items flex-end
        position relative
        left -29px
        width 100%
        font-size 91px
        font-weight 600
        line-height 67px
        color $dark
        &:after
          content ''
          position relative
          display inline-block
          flex-shrink 0
          width 14px
          height 14px
          margin-left 10px
          border-radius 50%
          background-color $blue
    &-title
      color $color
      font-size 18px
      font-weight 700
      line-height 24px
      margin-bottom 35px
      max-width 350px
    &-text
      color #656565
      font-size 15px
      font-weight 400
      line-height 32px
      max-width 350px
