.iappr
  padding 60px 0 80px
  &__row
    display flex
    flex-wrap wrap
    width calc(100% + 30px)
    margin 0 -15px
  &__info, &__right
    width calc(50% - 30px)
    margin 0 15px
  &__info
    padding-right 90px
  &__marker
    margin-bottom 45px
  &__title
    margin-bottom 45px
    span
      font-weight 300
  &__text
    a:not([class]), p:not([class]), ul:not([class]) li, ol:not([class]) li, ol:not([class]) li:before, table:not([class]) th, table:not([class]) td
      color #656565
      font-size 18px
      line-height 32px
  &__fakeimg
    &-over
      width calc(50vw - 24px)
    &-item
      display block
      width 100%
      padding-top 58.12%
  &__write-btn
    font-size 22px
    line-height 26px
    padding 37px 30px 33px
    min-width 368px
    i
      width 36px
      &:after
        top -9px
        width 18px
        height 18px
    &:hover
      i
        width 68px
