.ifaq
  padding 160px 0
  background-color #f6f7f8
  &--page
    padding 0
    background-color transparent
    .ifaq__item
      &-button
        font-size 23px
        line-height 36px
  &__title
    margin-bottom 65px
  &__row
    display flex
    flex-wrap wrap
    width calc(100% + 30px)
    margin 0 -15px
  &__col
    width calc(50% - 30px)
    margin 0 15px
  &__item
    width 100%
    margin-bottom 32px
    &:last-child
      margin-bottom 0
    &-button
      display block
      position relative
      width 100%
      text-align left
      color $black
      font-family Montserrat
      font-size 15px
      font-weight 700
      line-height 24px
      background-color #fff
      border 1px solid #e3e3e3
      padding 25px 90px 25px 25px
      user-select none
      outline none
      transition color .5s
      &:hover
        color $blue
      &--active
        &:after
          transform translateY(-50%) rotate(135deg)
      &:after
        @extend .after
        position absolute
        right 40px
        top 50%
        transform translateY(-50%)
        width 16px
        height 16px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUAvuAAvuD///86iVodAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAxgRFzpQYlJPAAAAFklEQVQI12NgYHRgYMBPhAIBhCCsGAD3BwY31rRkxgAAAABJRU5ErkJggg==') no-repeat center
        transition transform .5s
    &-answer
      display none
      border 1px solid #e3e3e3
      border-top none
      padding 25px 90px 25px 25px
      color rgba($black, .8)
      font-size 15px
      font-weight 400
      line-height 24px
      background-color #fff
      ol:not([class]) li:before
        color $black
        font-weight 400
      ul:not([class]) li:before
        background-color $black
  &__bottom
    display flex
    align-items center
    justify-content center
    margin-top 64px
    &-btn, &-href
      margin 0 15px
      min-width 268px
    &-href
      justify-content center
