.ihead
  display flex
  align-items center
  position relative
  height 100vh
  min-height 650px
  overflow hidden
  z-index 1
  .container
    @media $tPortraitMax
      display flex
      height 100%
      position relative
  .social
    margin-left auto
    @media $tPortraitMax
      position absolute
      bottom 80px
      right 0
      margin 0
  .logo
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    margin 0
  &--inside
    align-items flex-end
    height auto
    min-height 486px
    padding-bottom 84px
    @media $tPortraitMax
      height 400px
    .social
      position relative
      top -9px
    .logo
      position relative
      left auto
      top auto
      transform none
      @media $tPortraitMax
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
  &--middle
    height 84vh
    @media $mLandscapeMax
      height 400px
  &__row
    display flex
    align-items center
    justify-content space-around
    width 100%
    @media $tPortraitMax
      margin-top auto
  &__btn
    position relative
    margin-right auto
    top 72px
    transition all .5s
    @media $tPortraitMax
      position absolute
      left 0
      bottom 80px
      top auto
      transform none
      &:hover
        top auto
    &:hover
      top 67px
  &__video
    opacity .5
