.ihead
  display flex
  position relative
  padding 150px 0 62px
  height 100vh
  min-height 650px
  z-index 1
  &:before
    @extend .before
    left 0
    top 0
    width 100%
    height 100%
    background-color rgba(#262626, .85)
    z-index -1
  &__back
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background-repeat no-repeat
    background-position center
    background-size cover
    z-index -2
  .container
    display flex
    flex-direction column
    flex-grow 1
  &__row
    display flex
    justify-content space-between
    align-items center
    flex-grow 1
  &__info
    width 60%
  &__title
    color #fff
    font-weight 600
    font-size 89px
    line-height 96px
    margin-bottom 30px
  &__text
    color rgba(#fff, .5)
    font-size 22px
    line-height 32px
  &__write-btn
    display inline-flex
    align-items center
    color #fff
    font-size 22px
    font-weight 600
    line-height 56px
    user-select none
    i
      display block
      position relative
      width 36px
      height 2px
      margin-left 32px
      background-color #fff
      transition width .5s
      &:after
        @extend .after
        top -9px
        right 2px
        width 18px
        height 18px
        border-right 2px solid #fff
        border-bottom 2px solid #fff
        transform rotate(-45deg)
    &:hover
      i
        width 68px
  &__bottom
    display flex
    margin-top auto
    &-right
      margin-left auto
  &__more
    color #fff
    font-weight 700
    font-size 15px
    line-height 32px
    font-family "GothamPro"
    user-select none
    //i
  &__social
    display flex
    &-item
      margin-right 30px
      &:last-child
        margin-right 0
    &-href
      color #fff
      font-weight 700
      font-size 15px
      line-height 32px
      font-family "GothamPro"
      transition color .5s
      &:hover
        color rgba(#fff, .5)

