.instr
  padding 60px 0 20px
  margin 50px 0 60px
  background-color #fff
  border-top 1px solid #ecedee
  border-bottom 1px solid #ecedee
  &__row
    display flex
    flex-wrap wrap
    width calc(100% + 30px)
    margin 0 -15px
  &__item
    display flex
    justify-content center
    align-items center
    width calc(25% - 30px)
    margin 0 15px 60px
    padding 20px
    filter grayscale(100%)
    transition filter .5s
    &:hover
      filter grayscale(0)
    &-ico
      max-height 100%
