@keyframes playlogo
  from
    background-position 0 0
  to
    background-position 0 -29590px

.logo
  display inline-flex
  align-items center
  flex-shrink 0
  margin 35px 50px
  &--min-static
    .logo
      &__overimg
        max-width 298px
        margin-right 23px
        @media $mPortraitMax
          width 195px
          margin-right 20px
      &__title
        font-size 11px
        line-height 13px
  &--middle
    margin 0
    .logo
      &__img
        position relative
        margin-top 0
        max-width 100%
        left 0
        &:not(.logo__img--animation)
          margin-top 0
          @media $mLandscapeMax
            max-width 100%
            left 0
      &__overimg
        max-width 246px
        margin-right 23px
        height 41px
        @media $mLandscapeMax
          height 31px
        @media $mPortraitMax
          width 195px
          margin-right 20px
      &__title
        font-size 11px
        line-height 13px
  &__overimg
    display block
    position relative
    height 110px
    width 570px
    margin-right 38px
    overflow hidden
    @media $mLandscapeMax
      width 330px
      margin-right 20px
    @media $mPortraitMax
      width 195px
  &__img
    &:not(.logo__img--animation)
      margin-top 23px
      @media $mLandscapeMax
        position relative
        margin-top 34px
        max-width 400px
        left -20px
      @media $mPortraitMax
        margin-top 37px
        max-width 313px
        left -15px
    &--animation
      display block
      width 540px
      height 110px
      position absolute
      right -180px
      transform scale(.75)
      transform-origin left center
      top -3px
      animation playlogo 9s steps(269) infinite
      background-repeat no-repeat
      @media $mLandscapeMax
        right -342px
        transform scale(.38)
        top 1px
      @media $mPortraitMax
        right -442px
        transform scale(.17)
        top -1px
  &__title
    color #fff
    font-size 20px
    line-height 26px
    font-weight 300
    text-transform uppercase
    @media $mLandscapeMax
      font-size 15px
      line-height 20px
    @media $mPortraitMax
      font-size 13px
      line-height 15px

