.methods
  padding 160px 0 80px
  &:last-child
    padding-bottom 0
  &__wrap
    display flex
    flex-wrap wrap
    width calc(100% + 32px)
    margin 0 -16px
    margin-bottom -70px
  &__cell
    width calc(50% - 32px)
    margin 0 16px 70px
  //&__title
  &__text
    color $color
    font-size 15px
    line-height 32px
    a:not([class]), p:not([class]), ul:not([class]) li, ol:not([class]) li, ol:not([class]) li:before, table:not([class]) th, table:not([class]) td
      color $color
      font-size 15px
      line-height 32px
  &__item
    display flex
    align-items center
    &-overico
      width 125px
      flex-shrink 0
      margin-right 25px
    //&-ico
    &-title
      color rgba($black, .8)
      font-size 15px
      line-height 24px
