.people
  position relative
  display flex
  flex-wrap wrap
  justify-content flex-end
  width 100%
  &--mirror
    align-items flex-end
    .people
      &__decor
        &-item
          background-size contain
          &--el1
            right 407px
            top -1px
            width 723px
            height 703px
          &--el2
            top 30px
            right 180px
            width 200px
            height 200px
      &__items
        display flex
        flex-direction row-reverse
        max-width calc(100% - 419px)
        align-items flex-end
        margin-right auto
        margin-left calc((1583px - 100vw)/2)
      &__item
        display flex
        align-items flex-end
        flex-shrink 0
  &__decor
    position relative
    width 100%
    height 0
    flex-shrink 0
    &-item
      position absolute
      background-size contain !important
      &--el1
        display block
        right 46px
        top 17px
        width 575px
        height 574px
        background url('../../../../static/img/decor-el.png') no-repeat center
      &--el2
        display block
        right 621px
        top -77px
        width 155px
        height 155px
        background url('../../../../static/img/decor-el2.png') no-repeat center
  &__items
    position relative
  &__item
    display block
    width 574px
    height 619px
    &--i1, &--i2, &--i3
      width 100%
      filter grayscale(100%)
      transition filter .5s
      &:hover, &.people__item--active
        filter grayscale(0)
    &--i1
      width 582px
      height 659px
    &--i2
      width 388px
      height 454px
      margin-right -67px
    &--i3
      width 310px
      height 437px
      margin-right -32px
  &__info
    width 370px
    flex-direction column
    margin-bottom 143px
    padding-left 5px
    &-name
      color #000
      font-size 22px
      line-height 24px
      font-weight 300
      text-transform uppercase
      margin-bottom 8px
      &:last-child
        margin-bottom 0
    &-pos
      color #000
      font-size 15px
      line-height 17px
      font-weight 300
      text-transform uppercase
    &-descr
      color #000
      font-size 14px
      line-height 17px
      font-weight 300
      margin-top 56px
      text-indent 30px
      text-transform none
      &:first-child
        margin-top 0
