.popup
  max-width 1032px
  margin 30px auto
  &--success
    max-width 832px
  &__container
    padding 80px 100px
    background-color #fff
  &__title
    text-align center
    color $black
    font-size 44px
    font-weight 700
    line-height 48px
    margin-bottom 25px
    text-align center
  &__text
    color $color
    font-size 18px
    line-height 32px
    margin-bottom 25px
    text-align center
    a
      color $blue
      border-bottom 1px solid transparent
      transition border .5s
      &:hover
        border-bottom-color $blue
  &__btn-close
    display block
    min-width 208px
    margin 45px auto 0
