.portfolio
  display flex
  flex-wrap wrap
  width 100%
  overflow hidden
  &__item
    display block
    position relative
    width calc(100%/3)
    overflow hidden
    opacity 0
    animation-duration 0.6s
    animation-fill-mode forwards
    for index in (0..12)
      &:nth-child({index})
          animation-delay (.15 + index*0.1)s
    &.start-animate
      animation-play-state running
      animation-name bounceInUp
    @media $mLandscapeMax
      width 50%
    @media $mPortraitMax
      width 100%
    &-cover
      display block
      width 100%
      padding-top 50%
      background-position center
      background-size cover
      background-repeat no-repeat
    &-info
      position absolute
      left 0
      bottom 0
      display flex
      flex-direction column
      justify-content center
      align-items center
      width 100%
      height 0
      opacity 0
      background-color #0086F2
      transition height .5s, opacity .5s
      z-index 1
    &-title, &-year
      display block
      color #fefefe
      font-size 14px
      line-height 20px
      font-weight 300
      text-transform uppercase
      transition visibility .5s, opacity .5s
      transition-delay .3s
      opacity 0
      visibility hidden
    &:hover
      .portfolio__item
        &-info
          height 100%
          opacity 1
        &-title, &-year
          opacity 1
          visibility visible

