.project-info
  padding 146px 0 80px
  &:last-child
    padding-bottom 0
  &__row
    display flex
    flex-wrap wrap
    margin 80px -16px 0
  &__item
    display flex
    flex-direction column
    width calc(100%/3 - 43px)
    margin 0 16px
    &-overico
      display flex
      align-items center
      height 110px
      width 100%
      margin-bottom 25px
    &-ico
      max-height 100%
    &-title
      color $black
      font-size 22px
      font-weight 700
      line-height 24px
      margin-bottom 15px
    //&-data

