.search
  margin-bottom 75px
  &:last-child
    margin-bottom 0
  &__form
    width 100%
    position relative
    max-width 268px
    height 64px
  &__input
    display block
    width 100%
    height 64px
    background-color whitesmoke
    border 1px solid #e3e3e3
    padding 20px 64px 20px 20px
    color $black
    font-size 16px
    line-height 24px
    font-family Montserrat
    outline none
    &::-webkit-input-placeholder
      color rgba($black, .5)
    &::-moz-placeholder
      color rgba($black, .5)
    &:-ms-input-placeholder
      color rgba($black, .5)
    &:-moz-placeholder
      color rgba($black, .5)
  &__submit
    position absolute
    top 0
    right 0
    width 64px
    height 64px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAWCAMAAAAYXScKAAAAOVBMVEUAAAAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuChgRgtAAAAEnRSTlMA+GqPBjgvK5XYkgvVvOXkSR1tyjTJAAAAeUlEQVQY07XQSxLEIAgEUDtiRM1npu9/2KmUGlywnV7hWyAQnuRYgCPmsESUI9oMT6Km1lIFT5mqvPZe7Rd1YCYe7AyO3pFx2PooTKaJpRegmArhaCPcDsf8oJpWRn+yd4t7bnFTvY2LONcht1ftkpvxmv8yvh5/wg+qAQZKh+ELrwAAAABJRU5ErkJggg==') no-repeat center
    border none
    padding 0
    outline none
    cursor pointer
    z-index 1
