.setion-top
  position relative
  background-position center
  background-size cover
  background-repeat no-repeat
  padding 80px 0
  z-index 1
  min-height 522px
  &:before
    @extend .before
    left 0
    top 0
    width 100%
    height 100%
    background-color rgba(#262626, .86)
    z-index -1
  .breadcrumbs
    margin-bottom 25px
  &__content
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items flex-start
    &-left
      width calc(75% - 16px)
    &-right
      width calc(25% - 16px)
      padding-top 70px
  &__title
    color #fff
    font-size 59px
    font-weight 700
    line-height 72px
    margin-bottom 35px
  &__text
    color rgba(#fff, .8)
    font-size 15px
    font-weight 400
    line-height 24px
    margin-bottom 30px
    a:not([class]), p:not([class]), ul:not([class]) li, ol:not([class]) li, ol:not([class]) li:before, table:not([class]) th, table:not([class]) td
      color rgba(#fff, .8)
  &__cost-number
    color white
    font-weight 700
    font-size 29px
    line-height 45px
    margin-bottom 45px
    span
      font-size 45px
  &__group-btn
    display flex
  &__btn
    min-width 268px
    margin-right 32px
    &:last-child
      margin-right 0
  &__logo
    width 100%
    &-img
      max-width 100%

