.social
  display flex
  flex-wrap wrap
  &--dark
    .social__item
      margin-bottom 0
      &-href
        border-color $dark
        &:hover
          border-color $blue
          background-color transparent
        &--fb
          background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAMAAADD5o0oAAAAV1BMVEUAAAAmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJib1JL/YAAAAHHRSTlMA8bBQMMN6pfbi08yRG+ng3Lqgl2dhRj43JBMM3PkyMAAAAFtJREFUGNO1zEkWgCAMBFE0ISrgPGvuf04NPgUOYK/qb1r51dRbY5zvNWOZlj4bDpg5wijlAFCQ311KvMieV0QtQMRDdfxtUFVAkaKNsQFYuQaAPbn+GQsRTRIXFtAM46p6oSgAAAAASUVORK5CYII=')
          &:hover
            background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAMAAADD5o0oAAAAV1BMVEUAAAAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAxtCuGAAAAHHRSTlMA8bBQMMN6pfbi08yRG+ng3Lqgl2dhRj43JBMM3PkyMAAAAFtJREFUGNO1zEkWgCAMBFE0ISrgPGvuf04NPgUOYK/qb1r51dRbY5zvNWOZlj4bDpg5wijlAFCQ311KvMieV0QtQMRDdfxtUFVAkaKNsQFYuQaAPbn+GQsRTRIXFtAM46p6oSgAAAAASUVORK5CYII=')
        &--vk
          background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAMAAAACJixMAAAAaVBMVEUAAAAmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYrZ6EzAAAAInRSTlMAYBj2z08QmOGp+/LuVjIH1ZBtSzwM6MrIv7e1oouCKyogi39CUwAAAJJJREFUGNNdjEcOwzAQA6lmyd1xSa/7/0fGjDYHey4kMCARjBknAKUTqW5YeZmVgEZWOmCuWQoAicXhwSg5URGERFjHfANRhWc2FjiwXDULGCEtoJNWr2yTj8iTtQ6JMf6OfA+yJNkxIzPthYESd6IKKvqTKPVxa6xX0Ra5uU7Ncs/CwiYhHn+6ODgZeuBzoTh/AUKGGbsk+RWjAAAAAElFTkSuQmCC')
          &:hover
            background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAMAAAACJixMAAAAaVBMVEUAAAAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuDj63hgAAAAInRSTlMAYBj2z08QmOGp+/LuVjIH1ZBtSzwM6MrIv7e1oouCKyogi39CUwAAAJJJREFUGNNdjEcOwzAQA6lmyd1xSa/7/0fGjDYHey4kMCARjBknAKUTqW5YeZmVgEZWOmCuWQoAicXhwSg5URGERFjHfANRhWc2FjiwXDULGCEtoJNWr2yTj8iTtQ6JMf6OfA+yJNkxIzPthYESd6IKKvqTKPVxa6xX0Ra5uU7Ncs/CwiYhHn+6ODgZeuBzoTh/AUKGGbsk+RWjAAAAAElFTkSuQmCC')
        &--tw
          background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAMAAADDGrRQAAAAZlBMVEUAAAAmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYLWRWnAAAAIXRSTlMA+zrp47CPQ7uXhVYwHRgS8cpSIgr12tmlgHx4dGo0HAxnnf6HAAAAg0lEQVQY01XKRwLDIAxEUdFtalzSq+5/yWAEDvkreCPoWxagXk1miXg2XCcIzBEZhqWHB46oP5sNREy+IeVZ3AOAJBMx77o8T+pANmXiwxH7VLa17q0b5Bz7Mw9bT9HRBKURuwzZqn6kocVlpQv9YzBWkDDbbgZWRXnYi86O43VOO3wBVGAT3L+lGlcAAAAASUVORK5CYII=')
          &:hover
            background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAMAAADDGrRQAAAAY1BMVEUAAAAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuC2wldbAAAAIHRSTlMA+zrp47CPhEO7l1YwHRgS8cpSIgr12tmlfHh0ajQcDEFK0PsAAACCSURBVBjTVcpHAsMgDERR0bFpcUlvuv8pgxE4+K/gjaBvWYB6N5kl4tVynSAwR2QZlp4eOKL+bjYQMfmBlGfxCACSTMS86/K8qBPZlIkPZ+xT2da6t+6Qc+xgHrZeoqMJSiN2WbJV/UlDi8tKN/rHYI0gYabdDKyK8rAXnRlHM6cdfgPzE0XWWVPyAAAAAElFTkSuQmCC')
  &__item
    margin-right 16px
    margin-bottom 16px
    &:last-child
      margin-right 0
    &-href
      display block
      width 40px
      height 40px
      border 1px solid rgba(#fff, .3)
      background-repeat no-repeat
      background-position center
      transition background .5s, border .5s
      &:hover
        background-color $blue
      &--fb
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAMAAADD5o0oAAAAWlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////9ZMre9AAAAHXRSTlMA8bBQMMOlefbi08yRG+ng3Lqgl39nYUY+NyQTDNL1hz4AAABcSURBVBjTtcxJFoAgDARRMEEUcJ6H3P+aGnwKHMBe1d+08KvGzhrjfK+SeIr7rClgpggDlwNARnZ3wfFCPq+IioGIh2jpWy/KgDxFE2MDsHwNAHty/TMWrfXEcQFlaA1b4BOoAAAAAABJRU5ErkJggg==')
      &--vk
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAMAAAACJixMAAAAclBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9eWEHEAAAAJXRSTlMAYPbPEJgZ4alO+/LuUjIH1ZBtV0sWDOjKyL+3taKLgkA4KyogzKHYBgAAAJVJREFUGNNdjkcSwzAMAyHJknuJW3oP///FGBFzsPcCzOwQQ9TG9COAzIoUFyy8zEKOShYa4FmyJABSFosbI+OJilyIR7DMN+BVOGY1ATuWs2YCI6QG9GTQqVDFIXJnLeuU0f+GXAsyp7Lhgci4FQaK34giV9EeRCn3azM5FUMSm23UzNcoAkJ8xeFP4zsrXQt8ThTHL9chHBJrt5X/AAAAAElFTkSuQmCC')
      &--tw
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAMAAADDGrRQAAAAbFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8+T+BWAAAAI3RSTlMA+zrp47CPQ4VWMB0YEvHKvZVSIgr12tm3pZuAfHh0ajQcDG+YTq4AAACDSURBVBjTVcpHAsMgDERR0U2La3qP7n/HYAQO+St4I2ibZ6BeVSaJeDRcR/DMEhmGuYcDjqg/qw1ETL4hplncPYAkEyHtOj8PakfWJ+LDHttUsqXstRukLPszB2tP0VAPuQs2GbJF/UhDjctCZ/oHbzpBwrp6c2JFlIOtYLtxvE5xgy/8SxUAEYSybQAAAABJRU5ErkJggg==')
