.stage
  padding 150px 0 67px
  @media $desktopMax
    padding 100px 0 60px
  //.container
  &__title
    color white
    font-size 30px
    font-weight 300
    text-transform uppercase
    margin-bottom 117px
    @media $desktopMax
      margin-bottom 85px
    @media $mLandscapeMax
      font-size 24px
      line-height 28px
  &__row
    display flex
    flex-wrap wrap
    width calc(100% + 124px)
    margin 0 -62px
    @media $desktopMax
      width 100%
      margin 0
  &__item
    display flex
    align-items flex-start
    width calc(100%/3 - 124px)
    margin 0 62px
    @media $desktopMax
      flex-wrap wrap
      width 100%
      margin 0 0 50px
      &:last-child
        margin-bottom 0
    &-left
      display flex
      flex-direction column
      margin-right 54px
      @media $desktopMax
        width 100%
        margin-right 0
    &-overico
      width 45px
      height 45px
      flex-shrink 0
      margin-bottom 22px
    &-ico
      max-height 100%
    &-title
      position relative
      left -9px
      color white
      font-family Stem
      font-size 29px
      font-weight 300
      text-transform uppercase
      white-space nowrap
      writing-mode tb-rl
      transform scale(-1, -1)
      @media $desktopMax
        writing-mode inherit
        transform none
        left 0
      @media $mLandscapeMax
        font-size 24px
        line-height 28px
    &-right
      width calc(100% - 100px)
      padding-top 65px
      @media $desktopMax
        width 100%
        padding-top 0
        margin-top 35px
    &-text
      color white
      font-family Stem
      font-size 15px
      font-weight 300
  &__descr
    &-item
      padding-left 20px
      color white
      font-family Stem
      font-size 16px
      line-height 20px
      font-weight 300
      text-transform uppercase
      margin-bottom 14px
      @media $desktopMax
        margin-bottom 0
      span
        position relative
        &:before
          @extend .before
          left -20px
          top 50%
          transform translateY(-50%)
          width 4px
          height 4px
          border-radius 50%
          background-color #80cadf
    &-text
      color white
      font-family Stem
      font-size 14px
      line-height 16px
      font-weight 300
      text-transform none
      margin 25px 0 53px
      @media $desktopMax
        &:last-child
          margin-bottom 0
