.training
  padding 149px 0 150px
  overflow hidden
  &.start-animate
    .logo
      top 0
      opacity 1
    .training
      &__title, &__scool, &__text, &__entry-href
        top 0
        opacity 1
    .people
      &__item
        left 0
        opacity 1
      &__decor
        opacity 1
  .people
    &__item
      position relative
      left -100px
      opacity 0
      transition left .5s, opacity .5s
    &__decor
      opacity 0
      transition opacity .5s
  &__row
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content space-between
  &__left
    width 32%
    @media $tPortraitMax
      display none
  &__right
    width 63%
    padding-right 8%
    @media $tPortraitMax
      padding 0
      width 100%
  .logo
    position relative
    margin 0 0 16px 0
    opacity 0
    top 50px
    transition opacity .5s, top .5s
  .people
    margin-top -37px
  &__title
    position relative
    color #fff
    font-size 27px
    line-height 31px
    font-weight 300
    text-transform uppercase
    margin-bottom 54px
    opacity 0
    top 50px
    transition opacity .5s, top .5s
  &__scool
    position relative
    opacity 0
    top 50px
    transition opacity .5s, top .5s
    transition-delay  .45s
    &-info
      color #fff
      font-size 23px
      line-height 27px
      font-weight 300
      span
        text-transform uppercase
        display block
    &-text
      color #fff
      font-size 15px
      line-height 17px
      font-weight 300
      margin-top 4px
  &__text
    position relative
    margin-top 50px
    color #fff
    font-size 18px
    font-weight 300
    opacity 0
    top 50px
    transition opacity .5s, top .5s
    transition-delay  .65s
    p
      text-indent 7px
      &+p
        margin-top 18px
  &__entry-href
    display inline-block
    vertical-align top
    position relative
    margin-top 121px
    color #fefefe
    font-size 24px
    line-height 24px
    font-weight 300
    text-transform uppercase
    transition color .5s
    opacity 0
    top 50px
    transition opacity .5s, top .5s
    transition-delay  .85s
    &:hover
      color rgba(#fefefe, .5)
      &:before
        opacity .15
    &:before
      @extend .before
      left 50%
      top 50%
      transform translate(-50%,-50%)
      width 400px
      height 400px
      border-radius 50%
      background radial-gradient(circle, rgba(#00B1EE,1) 0%, rgba(255,255,255,0) 70%)
      opacity .45
      transition opacity .5s
      z-index -1
      @media $tPortraitMax
        width 300px
        height 300px

