.uploaded-file
  &--no-empty
    margin-bottom 40px
    .uploaded-file__items
      margin-top 18px
    .uploaded-file__label
      display none
  &__label
    display inline-block
    vertical-align top
    position relative
    text-align center
    padding-left 40px
    text-align center
    font-size 20px
    line-height 24px
    cursor pointer
    z-index 1
    &:after
      @extend .after
      left 0
      top -4px
      width 30px
      height 27px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAbCAMAAABcI88jAAAAkFBMVEUAAAAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAPd9V1AAAAL3RSTlMA+fAD9TUJBuSq7bJKQjkvn+jhuK6Nf29bUygX3bylmJEzz4V4Zx4O2dXCYSN1DNZmW7YAAAEvSURBVCjPbdHndoJAEIbhWSG0BQstKIjdWJJ89393md05cNjo+4Md57FD72qrm0qKNb0vncGmA2e9iApzrBVQ1vuIr46uEIkmcz6DGJi8/2aFZGF1drCLsIP+rynrB0k1kqkeXKUn1KDRq9IJuQzfEWZG/al+RViOyuuMdc5rXYTmm2mojdFrPtXfB9SVtQQ+rXZW56LBA7iwxkBtP+JuNcxFt/ZFHuuJTD18XlMGZI5W8lcCjTkb5KyFaA/syVbhODytzrbAD+sS2JF0xFkGDdPZVfKRyhBUCqsnD6xLGlLIhjFoPb7uWL2RI/6VY6K9VSmGnuoeiEWlBmrhaBnSJK/DvR0eVIAWHUuBTu5iGwMFq9tFAdtz89n7QBnQS9kNkl979CaviXPlH0/ti/wBMx0kw24PXkAAAAAASUVORK5CYII=') no-repeat center
      transition background .4s
      z-index -1
  &__input
    position absolute
    left -9999px
    top -9999px
    opacity 0
  &__text
    color $color
    border-bottom 3px dotted $blue
    transition border .5s
    &:hover
      border-bottom-color transparent
  &__items
    display flex
    flex-direction column
    justify-content space-between
    align-items flex-start
  &__item
    display flex
    align-items flex-start
    margin-bottom 15px
    &:last-child
      margin-bottom 0
    &-name
      color $blue
      font-size 15px
      line-height 24px
      border-bottom 1px solid $blue
      transition border .5s
      margin-right 20px
    &-del-btn
      color $red
      font-size 15px
      line-height 24px
      background none
      border none
      padding 0
      outline none
      user-select none


