.voting
  display flex
  flex-wrap wrap
  align-items center
  margin-bottom 45px
  width 100%
  &__left
    position relative
    width 135px
    flex-shrink 0
    margin-right 20px
    &:hover
      .voting__star-wrap
        opacity 1
        visibility visible
        z-index 2
  &__star
    display flex
    padding-left 2px
    padding-top 1px
    &-wrap
      position relative
      background-color #fff
      opacity 0
      visibility hidden
      transition opacity .5s, visibility .5s
      cursor pointer
    &-ind
      position absolute
      left 0
      top 0
      width 135px
      height 24px
      background-color #D8D8D8
      overflow hidden
      z-index 1
      &:before
        @extend .before
        left -1px
        top 0
        width 137px
        height 25px
        background url('../../../../static/img/star-group.png') no-repeat center
        background-size cover
        z-index 2
      &-item
        display block
        height 100%
        transition width .5s
        background-color $black
        z-index 1
    &-input
      display none
    &-item
      width 23px
      height 22px
      margin-right 4px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAWBAMAAADZWBo2AAAAMFBMVEUAAACenp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp7idVtQAAAAEHRSTlMAZgZRYA1bSD0oNjIuQhcesmzwcAAAAIlJREFUGNNjAIMgBiSwConN5KKA4HALbkBw2ASdEJyJgjIITqKgGIwZP0NQULB6XgCQeTxREAoyGBiCBWHACGiHIZQtDrJLHcopABtwEcyWhZjGgSTBwAnmNCDLGEA4zGCOEITDIijoLCgoB+EECnopTIM59aMs0FlHJCCczQ9Anl0M4QRAvA7EAC77FmeNAJR/AAAAAElFTkSuQmCC') no-repeat center
      transition background .5s
      cursor pointer
      &--active
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAWCAMAAAAcqPc3AAAAb1BMVEUAAAAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuAAvuB5ijs0AAAAJHRSTlMADwPGCQb0hR/r5tKmmBb72ruzsJ58c2tlXjgn4ZuOenJUQz+flxbeAAAAnklEQVQoz23RVxKEIBAEUAEFzGlNm0Pf/4wrUCWj0p8PBpoi8tFVFMxTBZlJyUL+AoYAxxmQBgZmrHmfmDfGs2Rn+js/YNMPy0/bxbFtahySlTyqcpwimOktjtzGrmG3525lm6SgXJBOpeeek6aT9wthuj+nTirVsWcujaTuJVfvNwBSMb7cAUzeP2s7bRuPKb1YiW2YKUHOoR3c7/8BhFIZ8b2e+pEAAAAASUVORK5CYII=')
      &:last-child
        margin-right 0
    &-popup
      position absolute
      top -50px
      left 50%
      transform translateX(-50%)
      background-color white
      box-shadow 0 6px 19px rgba(22, 22, 22, 0.16)
      padding 7px 20px
      color $color
      font-size 15px
      font-weight 400
      line-height 24px
      white-space nowrap
      //opacity 0
      //visibility hidden
      transition opacity .5s, visibility .5s
      &:after
        @extend .after
        left 50%
        transform translateX(-50%)
        bottom -5px
        border-style solid
        border-width 5px 5.5px 0 5.5px
        border-color #fff transparent transparent transparent
      span
        font-weight 700
        line-height 14px
  &__middle-rating, &__voted
    color rgba($color, .8)
    font-size 15px
    line-height 17px
    font-weight 400
    white-space nowrap
    span
      font-weight 700
  &__middle-rating
    margin-right 15px
  &__voted
    position relative
    &:before
      content '|'
      display inline-block
      vertical-align top
      margin-right 15px
      color #9e9e9e
      font-size 15px
      line-height 17px
      font-weight 400
