+b('footer').footer
  .container
    +e('a')(href="#").logo
      +e('img')(src="static/img/logo-footer.png" alt="").logo-img
    +e.bottom
      +e.row
        +b('ul').lang.--footer
          +e('li').item
            +e('a')(href="#").item-href EN
          +e('li').item
            +e('a')(href="#").item-href.--active RU

        +b('nav').nav.--footer
          +e('ul').list
            +e('li').list-item
              +e('a')(href="#").list-href.--active главная
            +e('li').list-item
              +e('a')(href="#").list-href о нас
            +e('li').list-item
              +e('a')(href="#").list-href продакшн
            +e('li').list-item
              +e('a')(href="#").list-href бренгдин
            +e('li').list-item
              +e('a')(href="#").list-href обучение
            +e('li').list-item
              +e('a')(href="#").list-href продюссирование
            +e('li').list-item
              +e('a')(href="#").list-href контакты

.hidden-block
  include ../__popups.pug

script(src="static/js/vendor.js")
script(src="static/js/own.js")

