+b('footer').footer(style="background-image: url('static/img/back2.png');")
  .container
    +e.row
      +e.col
        +b('a')(href="#").logo
          +e('img')(src="static/img/logo.png" alt="").img

        +e('ul').info
          +e('li').info-item
            +e('a')(href="tel:83511112111").info-href.--phone +7 (351) 111-2-111
          +e('li').info-item
            +e('a')(href="mailto:info@devsal.ru").info-href.--email info@devsal.ru
          +e('li').info-item
            +b.city
              +e('a')(href="#").href Челябинск

        +b('ul').social
          +e('li').item
            +e('a')(href="#").item-href.--fb
          +e('li').item
            +e('a')(href="#").item-href.--vk
          +e('li').item
            +e('a')(href="#").item-href.--tw

        +e('p').copy &copy; 2018 — И.П. Воронин. А. <br>Юр. адрес: 454000 г. Челябинск, ул. Свободы, 40

      +e.col
        +e('ul').nav-list
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href.--title.--active Услуги
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href.--active SEO-продвижение
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href Контекстная реклама
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href Разработка сайтов
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href E-mail-маркетинг
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href Веб-аналитика
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href SERM
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href SMM

      +e.col
        +e('ul').nav-list
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href.--title Блог
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href Продвижение сайтов
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href Интернет-маркетинг
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href Разработка
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href Маркетинг

      +e.col
        +e('ul').nav-list
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href.--title Компания
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href Вопросы и ответы
          +e('li').nav-list-item
            +e('a')(href="#").nav-list-href Отзывы

script(src="static/js/vendor.js")
script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full")
script(src="static/js/own.js")

